
<div class="card card-block mt-5" style="width: 18rem;"">
  <img src="<%= recipe.image %>"  alt="Photo of sunset" class="card-img-top">
  <div class="card-body">
      <h5 class="card-title"><%= recipe.name%></h5>
      <a href="/recipes/<%- recipe._id %>/details" class="btn btn-primary">Details</a>
    </div>
</div>
