

<div class="card" style="width: 18rem;">
    <img src="<%= recipe.image %>" class="card-img-top img-fluid rounded" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= recipe.name%></h5>
      <a href="/recipes/<%- recipe._id %>/details" class="btn btn-primary">Details</a>
    </div>
  </div>

