
<div class="container-fluid text-center error-bgimg">
  <div class="row justify-content-center first-div-width"  style="margin-top: 10%;">
    <div class="card mt-5 p-3 " style="width:50rem; background: rgba(255, 255, 255, 0.5);">
    <h1 style="font-size: 100px; font-weight: bolder;">!! 503 !!</h1>
<h1> SOMETHING WENT WRONG</h1>
<h2>We apologize for the inconvenience. <br>
  Our servers are too busy <br>or down due to server maintenance!<br>
  But we always have time for a drink!!</h2>
<div style="display: inline-block;">
<a href="/members/membersOnlyRecipes" class="btn btn-primary">Exclusive Recipes</a>
<a href="/recipes/new" class="btn btn-primary">Share your Cocktails</a>
</div>
</div>
  </div>
</div>