<% if (!recipes.length) { %>
    There are no recipes for now!
    <% } %>
      <div class="container-fluid text-center landing-bgimg">
        <div class="row justify-content-start first-div-width">
          <% recipes.forEach(recipe=> { %>
            <div class="col-md-3 col-sm-6 p-4 ">
              <%- include('./partials/recipeCard', {recipe}) %>
            </div>
            <% }) %>
        </div>
      </div>