
<!-- code for the audio element -->
<audio id="hippy-shake" src="/audio/The Hippy Hippy Shake.mp3"></audio>
<button id="play-button">Sound</button>
<label for="volume-control">Volume:</label>
<input type="range" id="volume-control" min="0" max="1" step="0.1" value="1">

<div class="homeshaker"></div>
<h1>WELCOME <% if (user.username) { %>
    <%= user.username %>
  <% } else { %>
  to HIPPY HIPPY SHAKE
  <% } %></h1>

  <script>
    // an event for playing the music
  window.addEventListener('load', () => {
  const audio = document.getElementById('hippy-shake');
  const button = document.getElementById('play-button');
  const volumeControl = document.getElementById('volume-control');
  // Set initial volume to 100%
  audio.volume = 1;
  // Add event listener to the button to play the audio when clicked
  button.addEventListener('click', () => {
    if (audio.paused) {
      audio.play();
      button.textContent = 'Stop';
    } else {
      audio.pause();
      button.textContent = 'Play';
    }
  });
  
  // Add event listener to the volume control to update the volume when changed
  volumeControl.addEventListener('input', () => {
    audio.volume = volumeControl.value;
  });

  });
  </script>
