<div class="landingPageBody">
<div class="header">
    <h1>Hippy Hippy Shake</h1>
</div>
<div class="landingPic"><img src="/images/landing-page2.jpg" alt=""></div>
<div class="content">
    <h2>Welcome to Diogo's and Matan's project website</h2>
    <p>Our cocktails are made with fresh, locally-sourced ingredients and come in a variety of fun and funky flavors.</p>
    <p>Whether you're looking for a classic margarita or something more adventurous, we've got you covered.</p>
    <p>To ensure that our drinks are enjoyed responsibly, we require that our guests be at least 21 years of age.
        Please enter your birth date below to verify your age:</p>
    <div class="age-verification">
        <label for="birthdate">Birth date:</label>
        <input type="date" id="birthdate" name="birthdate">
        <button id="verify-age" onclick="verifyAge()">Verify Age</button>
    </div>
</div>

</div>  