<body class="landing-page landing-bgimg">
    <div class="landingPageBody">
    
    <div class="header">
        <h1>Welcome to<br>Hippy Hippy Shake</h1>
        <!-- <p>Our cocktails are made with fresh, locally-sourced ingredients and come in a variety of fun and funky flavors.</p>
        <p>Whether you're looking for a classic margarita or something more adventurous, we've got you covered.</p> -->
       </div>
       <!-- <div class="landingPic" style="margin-top: 5%;"><img src="/images/LOG_2.png" alt=""></div> -->
       <div class="content">
        <p>To ensure that our drinks are enjoyed responsibly, <br>
            we require that our guests be at least 21 years young.<br>
            Please confirm you have the legal drinking age:</p>
        <div class="age-verification">
            <label for="birthdate">Birth date:</label>
            <input type="date" id="birthdate" name="birthdate">
            <button id="verify-age" onclick="verifyAge()" style="display: inline-block;"><span></span> Verify Age</button>
        </div>
    </div>
    
    </div>  
    
</body>