

<h1>Share your Recipes</h1>
<form style="display: flex; flex-direction: column" method="POST" action="/recipes/new">
  <label> Name : <input type="text" name="name" /></label>
  <label>Image : <input type="text" name="image" /></label>
  <label>Ingredients : <input type="text" name="ingredients" /></label>
  <label>Instructions : <input type="text" name="instructions" /></label>
  <label>Type of Glass : <input type="text" name="glass" /></label>
  <button type="submit">Submit your recipe</button>
</form>