<h1>Cocktail Recipes</h1>

<h1>Details</h1>
<p>page for showing one recipe</p>


<h1><%= recipe.name%></h1>
<img src="<%= recipe.image %>" class="card-img-top" alt="...">
<ul>
    <% recipe.ingredients.forEach(ingredient => { %>
    <li><%- ingredient%></li>
    <% }) %>
  </ul>
  
  <p><%= recipe.instructions%></p>