<h1>Signup Page</h1>

<h1>User signup page</h1>
<p>Needed for member's only content (private routes for middleware usage)</p>

<form method="POST" name="signup" action="">
    <label>Name: <input type="text" name="username" required></label>
    <label>Age:<input type="number" name="age" required></label>
    <label>Email:<input type="email" name="email" required></label>
    <label>Password:<input type="password" name="password" required></label>
    <button type="submit">Signup</button>"
</form>

<form method="POST" name="signup" action="">
    <label>Name: <input type="text" name="username" required></label>
    <label>Age:<input type="number" name="age" required></label>
    <label>Email:<input type="email" name="email" required></label>
    <label>Password:<input type="password" name="password" required></label>
    <button type="submit">Signup</button>"
</form>