@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
/* Set the height of the page to 100% */
.landingPageBody {
	height: 100%;
    background-size: cover;
}

/* Set a background image or color for the page */
.landing-page nav {
	display: none;
  }

.landingPic {
	display: flex;
    justify-content: center;
}

.landingPic img{
  height: 400px;
}

/* Center the header and age verification form */
.header, .age-verification, .content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

/* Style the header */
.header {
	color: #000000;
	font-size: 4rem;
	text-align: center;
	margin: 0;
	padding: 2rem;
    font-family: 'Irish Grover', cursive;
    height: fit-content;
	padding-top: 60px;
}

.header h1 {
  font-size: 5rem;
  -webkit-background-clip: text;
	background-clip: text;
	background-image: url('https://www.shutterstock.com/image-photo/young-woman-bikini-lying-on-260nw-544382269.jpg');
	color: transparent;
	text-align: center;
	-webkit-text-stroke: 1px rgba(0, 255, 255, 0.377);            
	
}

.content {
	height: fit-content;
	padding-top: 30px;
	padding-bottom: 30px;
}

.content h2 {
  font-family: 'Irish Grover', cursive;
  font-size: 3rem; 
  text-align: center;
}

/* Style the age verification form */
.age-verification {
	background-color: #fff;
	padding: 2rem;
}

.content p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1rem; 
  text-align: center;
}

/* Style the input field and button in the age verification form */
input[type="date"] {
	border: 1px solid #ddd;
	padding: 0.5rem;
	font-size: 1.2rem;
}

#verify-age {
	background-color: #a07f58;
	color: lightseagreen;
	border: #000000;
	padding: 0.5rem 1rem;
	font-size: 1.2rem;
	cursor: pointer;
  font-family: fantasy; 
  border-radius: 80px 80px 80px 80px;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

#verify-age span{
	background: url("/public/images/cocktail-shaker.png") no-repeat;
	width: 60px;
	height: 60px;

}

.age-verification {
	height: 200px;
}

/* Use media queries to adjust styles for different screen sizes */
@media screen and (max-width: 768px) {
	/* For screens smaller than 768px, reduce the font size of the header and increase the padding of the age verification form */
	.header h1{
		font-size: 3rem;
		padding: 1rem;
	}

	.age-verification {
		padding: 3rem;
	}
	.landingPic img{
		height: 250px;
	}

	.content h2{
		font-size: 2.4rem;
	}
}

@media screen and (max-width: 480px) {
	/* For screens smaller than 480px, reduce the font size of the header even further */
	.header h1{
		font-size: 2.5rem;
	}
	.landingPic img{
		height: 120px;
	  }

	  .content h2{
		font-size: 1.8rem;
	}
}