@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
/* Set the height of the page to 100% */
.landingPageBody {
	height: 100%;

}

/* Set a background image or color for the page */
.landingPageBody {
	background-size: cover;
  background: url("/images/landing-page2.jpg") center left no-repeat;
}

.landingPic img{
  size: 200px;
}

/* Center the header and age verification form */
.header, .age-verification, .content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

/* Style the header */
.header {
	color: #000000;
	font-size: 4rem;
	text-align: center;
	margin: 0;
	padding: 2rem;
  font-family: 'Irish Grover', cursive;
}

.header h1 {
  font-size: 5rem;
  -webkit-background-clip: text;
	background-clip: text;
	background-image: url('https://www.shutterstock.com/image-photo/young-woman-bikini-lying-on-260nw-544382269.jpg');
	color: transparent;
}

.content h2 {
  font-family: 'Irish Grover', cursive;
  font-size: 3rem; 
}

/* Style the age verification form */
.age-verification {
	background-color: #fff;
	padding: 2rem;
}

.content p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1rem; 
}

/* Style the input field and button in the age verification form */
input[type="date"] {
	border: 1px solid #ddd;
	padding: 0.5rem;
	font-size: 1.2rem;
}

button {
	background-color: #a07f58;
	color: lightseagreen;
	border: #000000;
	padding: 0.5rem 1rem;
	font-size: 1.2rem;
	cursor: pointer;
  font-family: fantasy; 
  border-radius: 50%;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

/* Use media queries to adjust styles for different screen sizes */
@media screen and (max-width: 768px) {
	/* For screens smaller than 768px, reduce the font size of the header and increase the padding of the age verification form */
	.header {
		font-size: 2rem;
		padding: 1rem;
	}

	.age-verification {
		padding: 3rem;
	}
}

@media screen and (max-width: 480px) {
	/* For screens smaller than 480px, reduce the font size of the header even further */
	.header {
		font-size: 1.5rem;
	}
}